<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title float-start>Paramètres</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="validateParams()" >
          <ion-icon name="checkmark" ></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form id="form">
    <h3>Filtres/Zones</h3>
    <ion-list>
      <ion-item>
        <ion-label>Réseaux Wifi</ion-label>
        <ion-checkbox [(ngModel)]="activerWifi" name="activerWifi" item-end></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Réseaux 4G/3G</ion-label>
        <ion-checkbox [(ngModel)]="activer4G" name="activer4G" item-end></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label color="dark">Bande passante mini(Mb/s)</ion-label>
        <ion-input [(ngModel)]="bandePassante" name="bandePassante" type="number" min="0"  value="{{bandePassante.value}}"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="dark">distance de recherche(km)</ion-label>
        <ion-input [(ngModel)]="distanceRecherche" name="distanceRecherche" type="number" min="0" value="{{distanceRecherche.value}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Afficher les zones</ion-label>
        <ion-checkbox [(ngModel)]="afficherZones" name="afficherZones" item-end></ion-checkbox>
      </ion-item>
    </ion-list>

    <h3>Collecte</h3>

    <ion-list>

      <ion-item>
        <ion-label>Collecte automatique</ion-label>
        <ion-checkbox [(ngModel)]="collecteAuto" name="collecteAuto" item-end></ion-checkbox>
      </ion-item>

     <!----> <ion-list *ngIf="collecteAuto" [(ngModel)]="mode" name="mode" radio-group>

        <ion-item>
          <ion-label>Echantillonnée</ion-label>
          <ion-radio value="echantillon"></ion-radio>
        </ion-item>

        <ion-item *ngIf="mode == 'echantillon'">
          <ion-label color="dark">nombre de mesure par h</ion-label>
          <ion-input [(ngModel)]="freqEchantillon" name="freqEchantillon" type="number" min="0" value="{{freqEchantillon.value}}"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Sur demande du serveur</ion-label>
          <ion-radio value="demandeServ"></ion-radio>
        </ion-item>



      </ion-list>

    </ion-list>
  </form>
</ion-content>


