<ion-header>
  <ion-navbar #mycontent color = "primary">
    <ion-title>Carte principale</ion-title>

    <ion-buttons end>
        <ion-row >
          <button ion-button icon-only (click)="showLocation()" [disabled]="!optionsEnabled" >
              <ion-icon name="md-locate"   ></ion-icon>
            </button>
          <button ion-button icon-only (click)="settings()" [disabled]="!optionsEnabled" >
            <ion-icon name="options"   ></ion-icon>
          </button>
      </ion-row>
      </ion-buttons>

  </ion-navbar>
  
</ion-header>
<div style="position: absolute; left: 50%; z-index: 2147483647" *ngIf="mapLoadingClass == 'blurrWrapperLoadingEffect'">
    <div style="position: relative; left: -50%; margin-top:200px;">
      <ion-spinner name="bubbles" ></ion-spinner>
    </div>
</div>
<ion-content [class]="mapLoadingClass">
  
    <agm-map (mapReady)="mapReady($event)" [latitude]="50" [longitude]="50">
      <ul>
        <li *ngFor="let point of points">
          <agm-marker [iconUrl]=point.colorUrl [latitude]= point.lat [longitude]=point.lon label={{point.bandePassanteAvg}} (markerClick)="details(point.id)" ></agm-marker>
        </li>
      </ul>
    </agm-map>

</ion-content>